<%= form_for @object, :url => @object.new_record? ? "/admin/#{@object.class.to_s.downcase}/" : "/admin/#{@object.class.to_s.downcase}/#{@object.id}", :html => {role: "form"} do |form| %>
  <div class="box-body">
    <% @object.class.columns.each do |col| %>
      <% if ['id','created_at','updated_at'].index(col.name).nil? \
              and col.name.to_s.index('_file_name').nil? \
              and col.name.to_s.index('_content_type').nil? \
              and col.name.to_s.index('_file_size').nil? \
              and col.name.to_s.index('_updated_at').nil? %>
              
        <% case col.type.to_s %>
        <% when 'string' %>
          <% if @object.respond_to?("#{col.name}_file_name") %>
            <%= file_input form, col.name %>
          <% else %>
            <%= text_input form, col.name %>
          <% end %>
        <% when 'text' %>
          <%= textarea form, col.name %>
        <% when 'boolean' %>
          <%= checkbox form, col.name %>
        <% when 'time' %>
          <%= time_input form, col.name %>
        <% when 'integer', 'float', 'decimal' %>
          <%= number_input form, col.name %>
        <% when 'date' %>
          <%= date_input form, col.name %>
        <% else %>
          <div class="form-group">
            <%= form.label col.name.to_sym %>
            <%= form.text_field col.name.to_sym, class: 'form-control' %>
          </div>
        <% end %>
          
      <% end %>
    <% end %>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
<% end %>