<%
  params_add_form = {}
  params.each do |param_name, param_value|
    params_add_form[param_name] = param_value if param_name[-3..-1] == "_id"
  end
%>

<%= form_for @object, :url => @object.new_record? ? "/admin/#{@model_string.downcase}?#{params_add_form.to_query}" : "/admin/#{@model_string.downcase}/#{@object.id}?#{params_add_form.to_query}", :html => {role: "form", class: 'upload_form'} do |form| %>
  <% @object.class.columns.each do |col| %>
    <% if !(['id','created_at','updated_at'] + @model_config.form_input_skip).include?(col.name) \
            and col.name.to_s.index('_file_name').nil? \
            and col.name.to_s.index('_content_type').nil? \
            and col.name.to_s.index('_file_size').nil? \
            and col.name.to_s.index('_updated_at').nil? %>

      <% params_add_form.each do |param_name, param_value| %>
        <%= form.hidden_field param_name, value: param_value if col.name.to_s[-3..-1] == '_id' and col.name == param_name %>
      <% end %>
      
      <% if col.type.to_s == 'string' and @object.respond_to?("#{col.name}_file_name") %>
        <%= file_input_upload_only form, col.name %>
        
        <div id="review_upload_image_group">
          <div id='review_upload_image'>
            <img src="">
            <div class="footer_review_upload_image">
              <button class="btn-sm btn-success">Upload</button>
              <button class="btn-sm btn-danger">Cancel</button>
            </div>
          </div>
          <div id='review_upload_image_arrow'></div>
        </div>
        
        <script>
          $("#<%= @model_string.downcase %>_<%= col.name %>").change(function(event) {loadReviewImage(this.files)});
        </script>
      <% end %>
    <% end %>
  <% end %>
<% end %>