<section class="content-header">
  <h1><%= @model_config.title %></h1>
  <ol class="breadcrumb">
    <li><a href="/<%= AntsAdmin.admin_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="/<%= AntsAdmin.admin_path %>/<%= @model_string.pluralize %>?<%= @model_config.add_link(params) %>"><i class="fa fa-dashboard"></i> <%= @model_config.title %></a></li>
    <li class="active"><%= represent_text(@object) %></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <%= render :partial => "/ants_admin/#{@model_string.downcase.pluralize}/form" rescue render :partial => "/ants_admin/form" %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>