<section class="content-header">
<h1><%= title(@model_class) %></h1>
<!-- <ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">Data tables</li>
</ol> -->
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive">
          
          <table id="<%= title(@model_string) %>_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <% table_title(@model_class).each do |column| %>
                  <th><%= column %></th>
                <% end %>
                <th style="min-width:100px">Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {
  $("#<%= title(@model_string) %>_table").dynatable({
    dataset: {
      ajax: true,
      ajaxUrl: '/admin/<%= @model_string %>/all.json',
      ajaxOnLoad: true,
      records: []
    }
  }).bind('dynatable:afterUpdate', function(event) {
    checkTableAction("<%= @model_string %>", this, event);
    reloadEvents();
  });
})
</script>