<section class="content-header">
<h1><%= title(@model_class) %></h1>
<!-- <ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">Data tables</li>
</ol> -->
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box default-hidden">
        <div class="box-body table-responsive">
          
          <table id="<%= title(@model_string) %>_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <% table_title(@model_class).each do |column| %>
                  <th><%= column %></th>
                <% end %>
                <th style="min-width:100px">Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          
          <span id="no-items">No items</span>
          <% if !(defined?(@model_class::CREATE_DISABLED) and @model_class::CREATE_DISABLED) %>
            <a class="add-big-center"><i class="fa fa-plus action-page"></i></a>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {
  
  // SEARCH_FOR
  $("#<%= title(@model_string) %>_table").dynatable({
    features: {
      search: <%= (defined?(@model_class::SEARCH_FOR) and @model_class::SEARCH_FOR and @model_class.count > 3) ? "true" : "false" %>,
      recordCount: <%= @model_class.count > 10 ? "true" : "false" %>,
      paginate: <%= @model_class.count > 10 ? "true" : "false" %>,
    },
    dataset: {
      ajax: true,
      ajaxUrl: '/admin/<%= @model_string %>/all.json',
      ajaxOnLoad: true,
      records: []
    }
  }).bind('dynatable:afterUpdate', function(event, content) {
    if (content == "") {
      $("#no-items").show();
      $("table#<%= title(@model_string) %>_table").hide();
    } else {
      $("#no-items").hide();
      $("table#<%= title(@model_string) %>_table").show();
    }
    $(".box.default-hidden").show();
  }).bind('dynatable:beforeUpdate', function(event) {
    $(".box.default-hidden").hide();
  });
})
</script>