<section class="content-header">
<h1><%= title(@model_class) %></h1>
<!-- <ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">Data tables</li>
</ol> -->
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive">
          
          <table id="<%= title(@model_string) %>_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>title</th>
                <th>description</th>
                <th>category</th>
              </tr>
            </thead>
            
            <tbody></tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {$("#<%= title(@model_string) %>_table").dataTable({
  aoColumns: [
		{'mDataProp': 'title'},
    {'mDataProp': 'description'},
    {'mDataProp': 'category'}
	],
  sAjaxDataProp: "data",
  sAjaxSource:'/admin/item/all.json',
  oLanguage: {
    sLengthMenu: "_MENU_ <%= title(@model_string) %> per page",
    sInfoEmpty: "No <%= title(@model_string) %> available",
    sInfoFiltered: "(filtered from _MAX_ total <%= title(@model_string) %>)"
  }
})});
</script>