<section class="content-header">
<h1><%= @model_config.title %></h1>
<ol class="breadcrumb">
  <li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li class="active"><%= @model_config.title %></li>
</ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box default-hidden">
        <div class="box-body table-responsive">
          
          <table id="<%= @model_string %>_table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <% @model_config.table_show.each do |column| %>
                  <th data-dynatable-column="<%= column[:key] %>" data-dynatable-no-sort="<%= !column[:sort] %>"><%= column[:label] %></th>
                <% end %>
                <% if @model_config.actions_link.length > 0 %>
                  <th style="min-width:100px" class="actions_column" data-dynatable-no-sort="true">Actions</th>
                <% end %>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          
          <span id="no-items">No items</span>
          <% if !@model_config.create_disabled? and @model_class.count == 0 %>
            <div class="add-big-center">
              <div class="btn-box">
                <a class="fa fa-plus" href="/admin/<%= @model_string %>/new" back-level='2' back-href='/admin/<%= @model_string %>'></a>
              </div>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
$(function() {
  
  // SEARCH_FOR
  $("#<%= @model_string %>_table").dynatable({
    features: {
      search: <%= (@model_config.search_for.length > 0 and @model_class.count > 1) ? "true" : "false" %>,
      recordCount: <%= @model_class.count > 10 ? "true" : "false" %>,
      paginate: <%= @model_class.count > 10 ? "true" : "false" %>,
    },
    dataset: {
      ajax: true,
      ajaxUrl: '/admin/<%= @model_string %>/all.json',
      ajaxOnLoad: true,
      records: []
    }
  }).bind('dynatable:afterUpdate', function(event, content) {
    if (content == "") {
      $("#no-items").show();
      $("table#<%= @model_string %>_table").hide();
    } else {
      $("#no-items").hide();
      $("table#<%= @model_string %>_table").show();
    }
    $(".box.default-hidden").show();
    if (typeof(window.AntsAdmin.last_object_id) != 'undefined' & window.AntsAdmin.last_object_id != "") {
      $.each($("table.table tbody tr td:first-child"), function(index, cell) {
        if ($(cell).text() == window.AntsAdmin.last_object_id) {
          setTimeout(function(){$(cell).parents("tr").addClass("hightline")}, 500);
          setTimeout(function(){$(cell).parents("tr").removeClass("hightline")}, 4000);
        }
      })
    }
    
    $.each($(".btn-list"), function(index, cell) {
      $(cell).parents("td").addClass('cell-list');
    })
    
    $.each($("td .file"), function(index, cell) {
      $(cell).parents("td").addClass('col-file');
    })
    
  }).bind('dynatable:beforeUpdate', function(event) {
    $(".box.default-hidden").hide();
  });
})
</script>