<header class="header blur_content">
  <a href="/" class="logo"><%= name_show %></a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="navbar-btn sidebar-toggle exit" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="fa fa-arrow-left action-page" id="back_action"></a>
    <% if @model_config and !@model_config.create_disabled? and params[:action] != 'new' %>
      <% if @model_config.model_style == "library" %>
        <% @object = @model_class.new %>
        <%= render partial: 'ants_admin/form_upload' %>
      <% else %>
        <a class="fa fa-plus action-page" id="add_action" href="/<%= AntsAdmin.admin_path %>/<%= @model_string %>/new?<%= @model_config.add_link(params) %>" back-level='2' back-href='/<%= AntsAdmin.admin_path %>/<%= @model_string %>' ></a>
      <% end %>      
    <% end %>
    <% if @model_config and ['new','edit'].include?(params[:action]) %>
      <a class="fa fa-save action-page" id="save_action" href="#"></a>
    <% end %>
    <%= render :partial => "/layouts/areas/account_info" %>
  </nav>
</header>