<section class="content-header">
<h1><%= @model_config.title %></h1>
<ol class="breadcrumb">
  <li><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  <li class="active"><%= @model_config.title %></li>
</ol>
</section>

<section class="content" id="drop_files">
  <div id="bg-upload">
    <img src="" id="drag_drop_review">
    <div class="actions_drag_drop">
      <a href="#" class="action_drag_drop_upload btn btn-success btn-flat">Upload</a>
      <a href="#" class="action_drag_drop_cancel btn btn-danger btn-flat">Cancel</a>
    </div>
  </div>
  
  <div class="row">
    <% image_attribute = @model_config.image_attribute %>
    <% @objects.each do |object| %>
      <div class="col-lg-3 col-sm-4 col-xs-6 library_item">
        <%= actions_link(object) %>
        <a href='<%= object.send(image_attribute).url %>' class='review_image' rel="fancybox-thumb" title="<%= object.send("#{image_attribute}_file_name") %>">
          <%= image_tag(object.send(image_attribute).url(@model_config.image_style_medium), class: 'library_index') %>
        </a>
      </div>
    <% end if image_attribute %>
    
  </div>
  
</section>

<script>
$(".library_index").hide();
$(".library_index").fadeIn();

$(".row").isotope({
  itemSelector: '.col-lg-3.col-sm-4.col-xs-6.library_item',
  layoutMode: 'masonry'
})

$(".review_image").fancybox({
  parent: "body",
	openEffect	: 'elastic',
	closeEffect	: 'elastic',
	helpers : {
		media : {},
    type : 'inside',
    thumbs	: {
  		width	: 50,
  		height	: 50
  	}
	}
});


var obj = $("#drop_files");

obj.on('dragenter', function (e) {
  e.stopPropagation();
  e.preventDefault();
});

obj.on('dragleave', function (e) {
  $(this).removeClass("drag");
})

obj.on('dragover', function (e) {
  $(this).addClass("drag");
  e.stopPropagation();
  e.preventDefault();
});

obj.on('drop', function (e) {
  e.preventDefault();
  AntsAdmin.uploadFiles = e.originalEvent.dataTransfer.files;
  
  var reader = new FileReader();
  reader.onload = function (e) {
    var img = $('img#drag_drop_review');
    img.attr('src', e.target.result);
  }
  reader.readAsDataURL(files[0]);

});

</script>