<!DOCTYPE html>
<html>
<head>
  <title>Ants Admin</title>
  <link href="/assets/ants_admin/favicon.ico" type="image/x-icon" rel="icon">
  <%= stylesheet_link_tag    "ants_admin/application", :media => "all" %>  
  <%= javascript_include_tag "ants_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="ants_admin" class="skin-black fixed">
  <%= render :partial => "/layouts/areas/header" %>
  <div class="wrapper row-offcanvas row-offcanvas-left">
      <%= render :partial => "/layouts/areas/main_menu" %>
      <aside class="right-side">
        <%= yield %>        
      </aside>
  </div>
</body>
</html>